<div class="content-center relative flex flex-col items-center justify-center h-auto ">
  <div class="max-w-xl flex-col w-full p-8 bg-gray-100 dark:bg-gray-700 dark:text-white shadow-xl h-full">
    <h2 class="text-2xl pb-1.5 mb-5">Thanks for your order !</h2>
    <div class=" flex flex-col sm:fex-col gap-4 mt-4">
      <div class="flex flex-col sm:fex-col gap-2 mt-8 content-center items-center  text-center justify-center ">
        <button type="submit" (click)="onClickBackButton.emit()" class="border w-max  bg-blue-500 hover:bg-blue-600 hover:text-white cursor-pointer border-white-100 text-white px-3 py-2 rounded-md text-sm font-medium">
          Place another order
        </button>
      </div>
    </div>
  </div>
</div>
